<!DOCTYPE html>

<html>

<head>

    <title>About</title>

    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

    <div class="main-content">

        {{>header}}
        <p>This site was created by Daniel Fan</p>
        <img class='portrait' src='/img/eagles-schedulewallpaper.png'>

    </div>

    {{>footer}}
</body>

</html>